@page "/barra-dupla"
@using blazor_chart_webassembly.Layout;
@using BlazorChartsClassLibray.Components;
@using MudBlazor;

<section class="doc-section">
    <SideMenu />
    <section class="doc-area">
        <h1 class="title-header-doc">Gráfico de Barra Dupla</h1>
        <div class="line"></div>
        <div class="horizontal-bar">
            <div class="chart-responsive">
            <DoubleBar DataName1="Primeiro" DataName2="Segundo" 
            Color1="#13f287" Labels="@labels" Color2="#646cff" 
            DataPoints1="@data1" DataPoints2="@data2" />
            </div>
        </div>
        <div class="clip-code">
            <div class="header-clip-code">
                <div class="title-razor-clip-code">
                    <i class="fa-solid fa-at"></i>
                    <span>Home.razor</span>
                </div>
            </div>
            <div class="code-section">
                <MudMarkdown Value="@MarkdownText"/>
            </div>
        </div>
        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Valores Permitidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="tag-name">DataName1</span></td>
                        <td><span class="tag-type">string</span></td>
                        <td>qualquer texto</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">DataName2</span></td>
                        <td><span class="tag-type">string</span></td>
                        <td>qualquer texto</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">Labels</span></td>
                        <td><span class="tag-type">@("List<string>")</span></td>
                        <td>cadeias de caracteres</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">DataPoints1</span></td>
                        <td><span class="tag-type">@("List<int>")</span></td>
                        <td>valores inteiros</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">DataPoints2</span></td>
                        <td><span class="tag-type">@("List<int>")</span></td>
                        <td>valores inteiros</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">Color1</span></td>
                        <td><span class="tag-type">@("string")</span></td>
                        <td>HEX | RGB</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">Color2</span></td>
                        <td><span class="tag-type">@("string")</span></td>
                        <td>HEX | RGB</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>


@code {
    public List<string> labels = new() { "Jan", "Fev", "Mar", "Abr", "Mai",};
    public List<int> data1 = new() { 100, 50, 30, 55, 66 };
    public List<int> data2 = new() { -50, -100, -50, -55, -96 };
    private string MarkdownText = @"
```csharp
<DoubleBar DataName1=""Primeiro"" DataName2=""Segundo"" 
           Color1=""#13f287"" Labels=""@labels"" Color2=""#646cff"" 
           DataPoints1=""@data1"" DataPoints2=""@data2"" /> 
@code{
    public List<string> labels = new() { ""Jan"", ""Fev"", ""Mar"", ""Abr"", ""Mai"" };
    public List<int> data1 = new() { 100, 50, 30, 55, 66 };
    public List<int> data2 = new() { -50, -100, -50, -55, -96 };
}
```";
}