@page "/doughnut"
@using blazor_chart_webassembly.Layout;
@using BlazorChartsClassLibray.Components;

<section class="doc-section">
    <SideMenu />
    <section class="doc-area">
        <h1 class="title-header-doc">Gráfico de Doughnut</h1>
        <div class="line"></div>
        <CharDoughnut DataName="Faturamento" BackgroundColors="@colors" DataPoints="@data" Labels="@labels" />
        <div class="clip-code">
            <div class="header-clip-code">
                <div class="title-razor-clip-code">
                    <i class="fa-solid fa-at"></i>
                    <span>Home.razor</span>
                </div>
                <button class="button-clip">
                    <i class="fa-solid fa-clone"></i>
                </button>
            </div>
            <div class="code-section">
                @foreach(var clipCode in paragraphsCode){
                    <p class="line-code">@clipCode</p>
                }
            </div>
        </div>
    </section>
</section>


@code {
    public List<string> labels = new() { "Jan", "Fev", "Mar", "Abr", "Mai",};
    public List<string> data = new() { "10", "50", "30", "55", "66" };
    public List<string> colors = new() { "#3fc598", "#646cff", "#ff5733", "#ffc300", "#ef436b" };
    IEnumerable<string> paragraphsCode = new List<string>{
        """"<CharDoughnut DataName="Faturamento" BackgroundColors="@colors" DataPoints="@data" Labels="@labels" />"""",
        "",
        """"@code {"""",
        """"public List<string> labels = new() { "Jan", "Fev", "Mar", "Abr", "Mai",};"""",
        """"public List<int> data = new() { 10, 50, 30, 55, 66 };"""",
        """"public List<string> colors = new() { "#3fc598", "#646cff", "#ff5733", "#ffc300", "#ef436b" };"""",
        """"}""""
    };
}