@page "/torta"
@using blazor_chart_webassembly.Layout;
@using BlazorChartsClassLibray.Components;
@using MudBlazor;

<section class="doc-section">
    <SideMenu />
    <section class="doc-area">
        <h1 class="title-header-doc">Gráfico de Torta</h1>
        <div class="line"></div>
        <Pie DataName="Faturamento" BackgroundColors="@colors" DataPoints="@data" Labels="@labels" />
        @*<Lying DataName="Faturamento" BackgroundColors="@colors" DataPoints="@data" Labels="@labels" />*@
        <div class="clip-code">
            <div class="header-clip-code">
                <div class="title-razor-clip-code">
                    <i class="fa-solid fa-at"></i>
                    <span>Home.razor</span>
                </div>
            </div>
            <div class="code-section">
                <MudMarkdown Value="@MarkdownText"/>
            </div>
        </div>
        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Valores Permitidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="tag-name">DataName</span></td>
                        <td><span class="tag-type">string</span></td>
                        <td>qualquer texto</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">Labels</span></td>
                        <td><span class="tag-type">@("List<string>")</span></td>
                        <td>cadeias de caracteres</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">DataPoints</span></td>
                        <td><span class="tag-type">@("List<int>")</span></td>
                        <td>valores inteiros</td>
                    </tr>
                    <tr>
                        <td><span class="tag-name">BackgroundColors</span></td>
                        <td><span class="tag-type">@("List<string>")</span></td>
                        <td>HEX | RGB</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>


@code {
    public List<string> labels = new() { "Jan", "Fev", "Mar", "Abr", "Mai",};
    public List<int> data = new() { 10, 50, 30, 55, 66 };
    public List<string> colors = new() { "#3fc598", "#646cff", "#ff5733", "#ffc300", "#ef436b" };
    private string MarkdownText = @"
```csharp
<Pie DataName=""Faturamento"" BackgroundColors=""@colors"" DataPoints=""@data"" Labels=""@labels"" />

@code{
    public string DataName = ""Faturamento"";
    public List<string> labels = new() { ""Jan"", ""Fev"", ""Mar"", ""Abr"", ""Mai""};
    public List<int> data = new() { 10, 50, 30, 55, 66 };
    public List<string> colors = new() { ""#3fc598"", ""#646cff"", ""#ff5733"", ""#ffc300"", ""#ef436b"" };
}
```";
}